body {
    margin: 0;
    color: rgb(25, 58, 47);
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
}
.frase1{
    font-size: 16px;
    padding: 0 20px;
    margin: 0;
    font-weight: bold;
}
.frase2{
    font-size: 62px;
    padding: 0 20px;
    margin: 15px 0;
    font-weight: bold;

}
.main {
    display: flex;
    height: 100vh;
}
.left{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: rgb(83, 199, 160);
}
.image{
    flex: 1;
    background-image: url(imgright.jpg);
    background-size: cover;
    background-position: center top;
}

button {
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(25, 58, 47);
    font-weight: bold;
    color: rgb(25, 58, 47);
    cursor: pointer;
}

.contact{
    background-color: rgb(83, 199, 160);
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding:  0 20px;
    font-size: 13px;
    color:rgb(11, 26, 21);
}
footer a {
    color:rgb(11, 26, 21);
}

@media (max-width: 424px) {
    .main {
        display: block;
    }
    .image{
        height: auto;
    }
    .nav {
        font-size: 12px;
    }
    .frase1{
        font-size: 12px;
    }
    .frase2{
        font-size: 50px;
    }
    button {
        font-size: 10px;
        margin: 10px;
    }
    .text {
        margin: 70px 0 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .image {
        height: 70vh;
    }
}
@media (max-width: 768px) {
    .nav {
        font-size: 14px;
    }
    .frase1{
        font-size: 13px;
    }
    .frase2{
        font-size: 54px;
    }
    button {
        font-size: 11px;
        margin: 10px 0px 0px 20px;
    }
    footer {
        font-size: 11px;
    }
}
